################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ComProg2Finals/ComProg2Finals/OR/OR/Program.cs
